<% layout('layouts/boilerplate') -%>

<div class="row">
  <h1 class="display-5 mb-4">My Cart</h1>
  <div class="col-12 col-md-8">
    
    <% for( let cartItem of cart ) { %>
      <div class="card mb-3 mx-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= cartItem.productId.image %>" class="img-fluid h-100 rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= cartItem.productId.title %></h5>
              <p class="card-text"><%= cartItem.productId.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% } %>

  </div>
  <div class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Cart Summary
      </div>
      <ul class="list-group list-group-flush">
        <!-- <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li> -->
        <% for( let cartItem of cart ) { %>
          <li class="list-group-item">
            <b><%= cartItem.productId.title %></b> - ₹<%= cartItem.productId.price %> x <%= cartItem.quantity %>
          </li>
        <% } %>
        <li class="list-group-item">
          Total - ₹<%= totalPrice %>
        </li>
      </ul>
    </div>

    <button class="btn btn-sm btn-success mt-3">Checkout</button>
  </div>
</div>